<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>HSL Color Picker</title>
</head>
<body>
    
    <h1 id="main-header">HSL Color Picker</h1>

    <table id="color-picker">

    </table>

    <div id="color-div-1"></div>
    <div id="color-div-2"></div>
    <div id="color-div-3"></div>
    <div id="color-div-4"></div>

</body>
<script src="scripts/script.js"></script>
</html>